/**
 * Site header
 */
.site-header {
    padding-top: 10px;
    //border-bottom: 1px solid $white-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: sticky;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $white-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
	padding: 4px;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $white-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $white-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.site-logo {
	width: 50px;
	height: auto;
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    position: relative;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $white-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $white-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Blog
 */
.blog-main {
    padding: 20px;
    position: relative;
    margin-left: -webkit-calc(30% - (#{$spacing-unit} / 2));
    margin-left:         calc(30% - (#{$spacing-unit} / 2));
    margin-right: auto;
    width: 55%;
    @include media-query($on-laptop) {
	margin-left: auto;
	width: 90%;
    }
    @include media-query($on-palm) {
	margin-left: auto;
	width: auto;
    }
    article {
    }

    h1 {
        color: $text-color;
    }
}
.blog-about {
    padding: 15px;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: $spacing-unit / 2;
    margin-top: $spacing-unit;
    @include media-query(1150px) {
        visibility: hidden;
    }
    p {
	margin-top: inherit;
        text-align: left;
    }  
}
.blog-me {
    display: flex;
    h1,p {
	padding-left: $spacing-unit;
        margin-top: auto;
        margin-bottom: auto;
    }
}
.blog-avatar {
    width: 100px;
    border-radius: 50%;  
}
.post-preview {
  border-left: 2px solid #fff;
  margin-bottom: $spacing-unit*2;
  padding: 10px 5px;
  body, h1, h2, h3, h4, h5, h6, p {
    margin-left: -webkit-calc(10% - (#{$spacing-unit} ));
    margin-left:         calc(10% - (#{$spacing-unit} ));
    @include media-query($on-laptop) {
      margin-left: -webkit-calc(15% - (#{$spacing-unit} ));
      margin-left:         calc(15% - (#{$spacing-unit} ));
    }
  }
  a {
	color: $text-color;
        text-decoration: none;
	
	&:visited {
	    color: $text-color;
	}

	&:hover {
	    color: $text-color;
	    text-decoration: none;
        }
  }
}
.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.read-more {
  display:flex;
  justify-content:center;
  align-items:center;
}

/**
 * Home
 */
.home {
    top: 50%;
    left: 50%;
    position: absolute;
    width: auto;
    transform: translate(-50%,-50%);
}

.home-text {
    text-align: center;
    width: auto;
}

.home-subtitle {
    font: monospace;
    text-align: center;
}

.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1519371808185-7a477aed5e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

