---
layout: default
title: Blog
---
	<div class="blog-about">
	  <div class="blog-me">
	    <a href="/blog">
	      <img class="blog-avatar" src="https://static.cybre.space/accounts/avatars/000/064/707/original/S0XMKVSBXMAD.png">
	    </a>
	    <h1>Agony</h1>
	  </div>
	</div>
	
	<div class="blog-main">
	  {% for post in site.posts %}
	    <div class="post-preview">
	      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
	        <article> 
	          <header class="post-header">
	            <h1 class="post-title">{{ post.title }}</h1>
	          </header>
	          <div class="post-content">
		    <p>
	            {{ post.content | strip_html | truncatewords: 50 }}
		    </p>
	          </div>
                </article>
	      </a>
	    </div>
          {% endfor %}

	</div>
